---
interface Props {
  pageTitle?: string;
}

const navigationItems = [{ name: "Blog", url: "/blog/" }];

const socialIcons = [
  {
    name: "GitHub",
    url: "https://github.com/at-the-vr",
    icon: "i-uil-github",
  },
  {
    name: "Twitter",
    url: "https://www.twitter.com/at_the_vr",
    icon: "i-uil-twitter",
  },
  {
    name: "Hashnode",
    url: "https://atthevr.hashnode.dev/",
    icon: "i-simple-icons:hashnode",
  },
];

const { pageTitle } = Astro.props;
---

<header
  class="border-b-4 border-black flex justify-between py-6 px-4 items-center"
>
  {pageTitle && <h1 class="hidden">{pageTitle}</h1>}
  <a href="/" title="Back to Home">
    <p class="righteous text-xl md:text-5xl">Atharva</p>
  </a>
  <nav class="inline-block">
    <ul class="flex gap-4 poppins">
      {
        navigationItems.map((item) => (
          <li>
            <a
              class="text-xl font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li class="hidden md:inline-block">
            <a
              href={item.url}
              class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
              target="_blank"
              title={`'See Atharva on ${item.name}`}
            >
              <div class:list={[item.icon, "w-7 h-7"]} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
